<nav class="navbar navbar-expand-lg" style="background-color:#00234c;">
  <div class="container-fluid">
    <a class="navbar-brand ms-5 ps-5" href="home">
      <img src="/assets/logoheaderpdi.png" alt="Logo" width="152" height="75" class="d-inline-block align-text-top">
    </a>
    <!-- Botón para móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Menú de navegación centrado -->
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
      <ul class="navbar-nav text-center" style="border-bottom: 2px solid white; max-width: fit-content;">
        <li class="nav-item mx-3">
          <a class="nav-link text-white fw-semibold" href="home">Inicio</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link text-white fw-semibold" href="criminals">PDI Busca</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link text-white fw-semibold" href="institution">Institución</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link text-white fw-semibold" >Información</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link text-white fw-semibold" >Prensa</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link text-white fw-semibold" >Interpol</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link text-white fw-semibold" href="" (click)="logout()">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
