/* Contenedor general de la sección (para evitar desbordamiento) */
.institution-section {
  position: relative;
  overflow: hidden; /* Evita que el contenido que se mueve fuera del contenedor sea visible */
}

/* Animación de deslizamiento desde la izquierda para la imagen */
@keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

/* Animación de deslizamiento desde la derecha para el texto */
@keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

/* Estilos para la imagen de la institución */
.institution-image-container {
    animation: slideInLeft 1s ease-out;
}

.institution-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Estilos para el texto sobre la institución */
.institution-text {
    animation: slideInRight 1s ease-out;
}
