<app-navbar></app-navbar>

<div class="text-white text-center py-3 mt-5" style="background-color: #00234c;">
  <h1>CRIMINALES MÁS BUSCADOS DE LA GALAXIA</h1>
</div>

<div class="text-center bg-white shadow">
  <p class="fw-normal fs-5 py-3 px-5 mx-5">Conoce a los fugitivos más peligrosos del cosmos, individuos cuyas acciones han puesto en peligro la paz intergaláctica. Desde piratas espaciales hasta conspiradores planetarios, estos criminales representan una amenaza para el equilibrio del universo.</p>

</div>
<div class="container-xl my-4">
  <div class="d-flex justify-content-end align-items-center ">
    <button type="button" class="btn btn-warning text-white" data-bs-toggle="modal" data-bs-target="#modalAddCriminal">
      Ingresar informacion de un criminal
    </button>
  </div>

  <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-4 mt-2">
    <div class="col" *ngFor="let criminal of criminals; let i = index">
      <div class="card border-0 shadow w-100 h-100" style="border-radius: 0;">
        <div class="card-header"></div>
        
        <!-- https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDdIsK9GdElPNOm61bfdZbJ5kb3r6E1TS18Q&s -->
        <img
          src="/assets/CRIMINAL.png"
          class="card-img-top img-fluid" alt="Imagen del criminal" />

        <div class="card-body text-center">
          <h5 class="card-title text-start fw-bold mb-2">{{ criminal.name }}</h5>
          <p class="card-text text-start">{{ criminal.charges }}</p>          
          <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#modalCriminalDetails" style = "background-color: #00234c; border-color: #00234c;" (click)="detail(criminal)">Ver detalles</button>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>
</div>

<app-criminal-add></app-criminal-add>
<app-criminal-detail [criminal]="crimz" (updateCriminals)="updateCriminalList($event)" ></app-criminal-detail>
